.sidebar {
    -fx-background-color: white;

    -fx-border-radius: 10px;
}

.sidebar .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 5px 0;
}

.sidebar .button {
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-cursor: pointer;
}

.sidebar .button:hover {
    -fx-background-color: #f0f8ff;
    -fx-text-fill: #1D4ED8;

}

.sidebar .icon {
    -fx-padding: 5px;
    -fx-margin-right: 10px;
}

.topbar {
    -fx-background-color: #444;
    -fx-border-width: 1;
    -fx-border-color: #555;
}


#sidebarAdmin {
    -fx-background-color: white;

    -fx-border-radius: 10px;
}

#sidebarAdmin .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 5px 0;
}

#sidebarAdmin .button {
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-cursor: pointer;
}

#sidebarAdmin .button:hover {
    -fx-background-color: #EFF6FF;
    -fx-text-fill: #1D4ED8;

}

#sidebarAdmin .icon {
    -fx-padding: 5px;
    -fx-margin-right: 10px;
}

.PasswordButton {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.PasswordButton:hover {
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
}

.PasswordButton:pressed {
    -fx-opacity: 0.6;
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 50%;
}
