#UserDetailsPane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(180, 180, 180, 0.8), 2, 0, 0, 4);
}

#btnDeleteUser {
    -fx-background-color: #cc1c1c;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(200, 200, 200, 0.8), 1, 0, 0, 2);
    -fx-font-family: "Inter", sans-serif;
}

#btnDeleteUser:hover {
    -fx-background-color: #ed0808;
    -fx-cursor: hand;
}

.text-field {
    -fx-effect: innershadow(gaussian, rgba(220, 220, 220, 0.8), 5, 0, 0,0 );
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: rgba(220, 220, 220, 0.8);
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.button {
    -fx-background-radius: 8px;
    -fx-background-color: #2058da;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(200, 200, 200, 0.8), 1, 0, 0, 2);
    -fx-font-family: "", sans-serif;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #1257f8;
    -fx-cursor: hand;
    -fx-font-size: 14;
}

.BorderPane {
    -fx-background-color: #F8F8F8;
}

.label {
    -fx-font-family: "Inter Semi Bold", sans-serif;
}


#UsersPane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(180, 180, 180, 0.8), 2, 0, 0, 4);

}

#lstUsers {
    -fx-background-color: #FFFFFF;
    -fx-padding: 0px;
}

#lstUsers .list-cell {
    -fx-background-color: white;

    -fx-border-color: E5E7EB;
    -fx-border-width: 1 0 1 0;
    -fx-border-insets: -1 0 -1 0;
    -fx-padding: 7;
    -fx-font-size: 18;
}

#lstUsers .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

#lstUsers .list-cell:empty:hover {
    -fx-background-color: transparent;
}

#lstUsers .list-cell:hover {
    -fx-background-color: #EFF6FF;
    -fx-background-insets: -2 0 0 0;
}

#lstUsers .first-visible {
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: E5E7EB;
    -fx-border-width: 2 0 0 0;
}

#lstUsers .list-cell:selected {
    -fx-background-color: #EFF6FF;
    -fx-text-fill: black;

}
#lstUsers:selected {
    -fx-padding: 0px;
}

#lstUsers:focused {
    -fx-border-width: 0px;
    -fx-padding: 0px;
    -fx-background-insets: 0;
}
.name-label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.role-label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-background-color: #DBEBFF;
    -fx-background-radius: 8px;
    -fx-background-insets: 0 -5 0 -5;
    -fx-border-insets: 0 -5 0 -5;
    -fx-border-radius: 8px;
    -fx-border-color: #dfdfdf;
    -fx-translate-x: 3;
}
#lstUsers .list-cell:selected .name-label {
    -fx-text-fill: black;
}
#lstUsers .list-cell:selected .role-label {
    -fx-text-fill: black;
}

#lblRole {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-background-color: #DBEBFF;
    -fx-background-radius: 8px;
    -fx-background-insets: 0 -5 0 -5;
    -fx-border-insets: 0 -5 0 -5;
    -fx-border-radius: 8px;
    -fx-border-color: black;
    -fx-translate-x: 3;
}

#lstUsers .scroll-bar:vertical {
    -fx-background-color: white;
    -fx-pref-width: 5;
    -fx-padding: -11 0 -11 0
}

#lstUsers .scroll-bar .increment-arrow,
#lstUsers .scroll-bar .decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.round_image {
    -fx-fit-width: 80px;
    -fx-fit-height: 80px;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
}