.sidebar {
    -fx-background-color: white;

    -fx-border-radius: 10px;
}

.sidebar .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 30px 0;
}

.sidebar .button {
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-font-size: 16px;
    -fx-cursor: pointer;
}

.sidebar .button:hover {
    -fx-background-color: #f0f8ff;
    -fx-text-fill: #1D4ED8;

}

.sidebar .icon {
    -fx-padding: 5px;
    -fx-margin-right: 10px;
}

.topbar {
    -fx-background-color: #444;
    -fx-border-width: 1;
    -fx-border-color: #555;
}


#sidebarAdmin {
    -fx-background-color: white;

    -fx-border-radius: 10px;
}

#sidebarAdmin .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 5px 0;
}

#sidebarAdmin .button {
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-font-size: 16px;
    -fx-cursor: pointer;
}

#sidebarAdmin .button:hover {
    -fx-background-color: #EFF6FF;
    -fx-text-fill: #1D4ED8;

}

#sidebarAdmin .icon {
    -fx-padding: 5px;
    -fx-margin-right: 10px;
}
